.SupportingText {
    position: absolute;
    left: 6.86%;
    right: 6.86%;
    top: calc(50% - 52px/2 + 122px);
    height: 52px;
    font-family: Outfit;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
}

.SupportingText p {
    margin: 0;
}