
.PriceImg{
    position: absolute;
    left: 0%;
    right: 88.23%;
    top: 5%;
    bottom: 5%;
}

.priceText {
    position: absolute;
    height: 20px;
    left: 5%;
    right: 1.07%;
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;

}