
.PriceImg{
    position: absolute;
    top:35%;
}

.priceText {
    position: absolute;
    height: 20px;
    left: 5%;
    top: 35%;
    /* right: 1.07%; */
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;

}