.Avatar {
    position: absolute;
    left: 6.86%;
    right: 83.71%;
    top: 91%;
    bottom: 5.37%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    width: -webkit-fill-available;
}

.Creator {
    position: absolute;
    left: 20.86%;
    right: 27.43%;
    top: 91%;
    bottom: 6.54%;
}

#One {
    position: absolute;
    height: 20px;
    left: 0%;

    font-family: Outfit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #8BACD9;
}

#Two {
    position: absolute;
    height: 20px;
    left: 47.51%;
    right: 1.1%;

    font-family: Outfit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}

#Two:hover {
    color: cyan;
    cursor: pointer;
}
@media (max-width:400px){
    #Two{
        left: 56%;
        right: -17%;
    }
}